@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import './variables';
@import '../../node_modules/bulma/bulma.sass';
@import './grid';
@import './utilis';
@import './inbox/inbox';

html,
body{
    font-family: 'Montserrat', sans-serif; 
    color: #5B5B5B;
    overflow-y: auto;
}

.app{
    &__dropdown{
        &__special{
            padding-bottom: 1.5em;
            &__header{
                background-color: $primary;
                color: #fff;
                display: inline-block;
                min-width: 30%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                padding: 0.5em 1em;
                border-radius: 0.5em;
                cursor: pointer;
                user-select: none;
                position: relative;
                z-index: 2;
                span{
                    display: inline-block;
                    &::before{
                        content: '+';
                        font-size: 1.2em;
                        display: inline-block;
                        margin-right: 0.25em;
                    }
                }
            }
            &__body{
                color: $primary;
                background-color: $primary-lo;
                border-radius: 0.5em;
                margin-top: -1.5em;
                margin-bottom: 1.5em;
                height: 0;
                overflow: hidden;
                padding-top: 0;
                border: 0 none;
                opacity: 0;
                position: relative;
                z-index: 1;
                transition: all 0.3s;

            }
            &.is-open{
                .app__dropdown__special__header{
                    span{
                        &::before{
                            content: '-';
                        }
                    }
                }
                .app__dropdown__special__body{
                    height: auto;
                    opacity: 1;
                    border: 1px solid $primary;
                    padding-top: 1.5em;
                }
            }
        }
    }
    &__switch{
        input{
            opacity: 0;
            position: absolute;
            z-index: -1;
            &:checked{
                & ~ .app__switch__indicator{
                    opacity: 1;
                }
                &.is-dark{
                    & ~ .app__switch__indicator{
                        background-color: $dark;
                    }
                }
            }
            
            &:first-of-type{
                &:checked{
                    & ~ .app__switch__btn{
                            &:first-of-type{
                                width: 0;
                            }
                    }
                    & ~ .app__switch__indicator{
                        left: 0;
                    }
                }
            }
            &:last-of-type{
                &:checked{
                    & ~ .app__switch__btn{
                        &:last-of-type{
                            width: 0;
                        }
                    }
                    
                    & ~ .app__switch__indicator{
                        left: 25px;
                    }
                }
            }
            &:disabled{
                & ~ .app__switch__indicator{
                    background-color: $disabled;
                }
                & ~ .app__switch__btn{
                    box-shadow: inset 0 0 0 1px $disabled;
                }
            }
        }
        width: 50px;
        cursor: pointer;
        user-select: none;
        border-radius: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        line-height: 25px;
        
        line-height: 23px;
        position: relative;
        &__btn{
            display: inline-block;
            width: 25px;
            height: 23px;
            font-size: 0.7em;
            text-align: center;
            line-height: 23px;
            width: 50px;
            cursor: pointer;
            box-shadow: inset 0 0 0 1px $primary;
            border-radius: 25px;
            background-color: #fff;
            &:first-of-type{
                .app__switch__btn__text{
                    left: 0;
                }
                
            }
            &:last-of-type{
                .app__switch__btn__text{
                    right: 0;
                }
            }
            &__text{
                position: absolute;
                pointer-events: none;
                width: 25px;
                height: 25px;
                top: 0;
                color: #fff;
                z-index: 6;
                font-weight: 700;
            }
        }
        &__indicator{
            width: 25px;
            height: 25px;
            border-radius: 50px;
            opacity: 0;
            position: absolute;
            background-color: $primary;
            top: 0;
            display: inline-block;
            z-index: 0;
            pointer-events: none;
            transition: left 0.2s ease-in-out, width 0.3s, background-color 0.3s;
        }
    }
    &__jumbotron{
        &__header{
            padding: 0.5em 1em;
            font-size: 1.2rem;
            background-color: $primary;
            color: #fff;
            border-radius: 0.5em 0.5em 0 0;
            border: 1px solid $primary;
        }
        &__body{
            background-color: $primary-lo;
            color: $primary;
            padding: 1em;
            border: 1px solid $primary;
            border-radius: 0 0 0.5em 0.5em;
        }
        
    }
    &__dropdown{
        position: relative;
        &__content{
            position: absolute;
            right: 0;
            background-color: #fff;
            list-style: none;
            padding: 0.25em 0;
            top: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0.55rem;
            border-bottom-left-radius: 0.55rem;
            box-shadow: 2px 2px 5px rgba(#000, 0.1);
            overflow: auto;
            transform: translateY(20%);
            opacity: 0;
            pointer-events: none;
            transition: transform 0.3s, opacity 0.3s;
            &.is-open{
                transform: translateY(0);
                opacity: 1;
                pointer-events: all;
            }
            &__item{
                display: block;
                text-align: left;
                font-weight: 400;
                color: $primary;
            }
            &__link{
                padding: 1em;
                display: block;
                color: $primary;
                transition: background-color 0.3s;
                &:hover{
                    background-color: $primary-lo;
                    color: $primary;
                }
            }

        }
    }
    &__table{
        border-spacing: 3px;
        border-collapse: separate;
        thead{
            tr{
                th{
                    padding: 0.5em;
                    text-align: center;
                    font-size: 0.9em;
                    background-color: $primary;
                    color: #fff;
                }
            }
        }
        tbody{
            tr{
                
                &.app__table__row__edit{
                    td{
                        border: 1px solid #00BBB3;
                        background-color: #CCE7EA;
                        
                    }
                }
                td,
                td.no-editable{
                    padding: 0.1em 0.5em;
                    background-color:#F2F2F2;
                    vertical-align: middle;
                    border: 0 none;
                    .app__table__from__control{
                        border: 0 none;
                        background-color: #CCE7EA;
                        color: #5B5B5B;
                        font-size: 1em;
                        display: inline-block;
                        outline: none !important;
                    }
                }
            }
        }
        &.has-border-radius{
            thead{
                tr{
                    &:first-child {
                        th{
                            &:first-child{
                                border-radius: 0.55em 0 0 0;
                            }
                            &:last-child{
                                border-radius: 0 0.55em 0 0;
                            }
                        }
                    }
                }
            }
            tbody{
                tr{
                    &:last-child{
                        td{
                            &:first-child{
                                border-radius: 0 0 0 0.55em;
                            }
                            &:last-child{
                                border-radius: 0 0 0.55em 0;
                            }
                        }
                    }
                }
            }
        }
        &.is-empty{
            th{
                background-color: $disabled;
                color: #fff;
            }
            td{
                background-color:#F2F2F2;
            }
        }
        &.is-bicolor{
            tbody{
                tr{
                    &:nth-child(odd) {
                        td{
                            background-color: #F2F2F2;
                        }
                    }
                    &:nth-child(even) {
                        td{
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    &__section{
        height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        &__header{
            padding: 0.75rem 1rem;
            &.is-primary{
                background-color: $primary;
                color: #fff;
            }
            &__title{
                font-size: 1.2em;
                .icon{
                    margin-right: 0.25em;
                    display: inline-block;
                }
            }

        }
    }
    &__tab{
        background-color: #CCE7EA;
        color: $primary;
        &__item{
            background-color: #CCE7EA;
            transition: background-color 0.3s;
            cursor: pointer;
            border-left: 1px solid #fff;
            .icon{
                display: inline-block;
                font-size: 1.5em;
                margin-right: 0.25em;
                vertical-align: top;
            }
            &:hover{
                background-color: rgba($primary, 0.3);
            }
            &.is-active{
                background-color: $primary;
                color: #ffffff;
                box-shadow: inset 0 -4px $warning;
            }

            &:first-child{
                border-left: 0;
            }
            
        }
        &__menu{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            .icon-when-close{
                display: inline-block;
            }
            .icon-when-open{
                display: none;
            }
            &.is-open{
                .icon-when-open{
                    display: inline-block;
                }
                .icon-when-close{
                    display: none;
                }
            }
        }
    }
    &__controls{
        $space: 70px;
        &__bottom{
            background-color: #fff;
            height: $space;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 50;
            & + .app__controls__sibling{
               padding-bottom: $space;
            }
        }
    }
    &__step{
        &.is-current{
            background-color: $primary-lo;
            color: $primary;
            .app__step{
                &__title{
                    color: $primary;
                }
            }
        }
        &.is-prev{
            color: $disabled;
            background-color: hsl(0, 0%, 96%);
            .app__step{
                &__title{
                    color: $disabled;
                }
            }
        }
        &.is-next{
            color: $disabled;
            .app__step{
                &__title{
                    color: $disabled;
                }
            }
        }
        &__title{
            font-size: 1.2em;
            font-weight: 700;
            &.is-primary{
                color: $primary;
                .app__step__number{
                    background-color: #fff;
                }
            }
        }
        &__number{
            border: 1px solid;
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            text-align: center;
            border-radius: 50%;
            vertical-align: top;
            margin-right: 0.5em;
            background-color: #fff;
        }
    }
}
select{
    &.app{
        &__form{
            &__control{
                &:focus{
                    border-radius: 0.55em 0.55em 0 0;
                }
                &::before{
                    content: 'ddadadasd';
                }
            }
        }
    }
}
.app{
    &__form{
        &__control{
            background-color: $primary-lo;
            color: $primary;
            padding: 0.5em 0.7em;
            border: 1px solid $primary;
            border-radius: 0.55em;
            outline: none !important;
            font-size: 1.2em;
           
            &.is-lite{
                border: 0 none;
                background-color: #fff;
            }
            &.has{
                &-border{
                    &-primary{
                        border: 1px solid $primary;
                    }
                }
            }
            &:disabled{
                border: 1px solid $disabled;
                color: $disabled;
                background-color: #fff;
            }
        }
    }
    &__btn{
        display: inline-block;
        text-decoration: none !important;
        color: $primary;
        box-shadow: inset 0 -3px $primary;
        border-radius: 0.55em;
        border: 1px solid $primary;
        padding: 0.5em 1em;
        font-size: 1.2em;
        background: #fff;
        font-weight: 600;
        outline: none;
        transform: scale(1);
        cursor: pointer;
        transform-origin: center bottom;
        &:disabled{
            cursor: not-allowed;
            background-color: #fff;
            color: $disabled;
            box-shadow: none;
            border: 1px solid $disabled;
        }
        &:active{
            box-shadow: inset 0 -1px $primary;
            transform: scale(0.95);

        }
        &.has{
            &-icon{
                &-big{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon{
                        font-size: 1.8em;
                        margin: 0 0.25em;
                    }
                }
            }
        }
        &.is{
            &-transparent{
                background-color: transparent;
                border-radius: 0;
                box-shadow: none;
                padding: 0.5em;
                border: 0 none;
            }
            &-primary{
                background-color: $primary;
                color: #fff;
                box-shadow: inset 0 -3px darken($primary, $amount: 10);
                &:active{
                    box-shadow: inset 0 -1px darken($primary, $amount: 10);
                }
            }
            &-disabled{
                cursor: not-allowed;
                background-color: #fff;
                color: $disabled;
                box-shadow: none;
                border: 1px solid $disabled;
                
            }
            &-light{
                background-color: $light;
                border: 0 none;
                box-shadow: none;
                color: $disabled;
            }
            &-small{
                padding: 0.25em 0.5em;
                font-size: 0.9em;
            }
        }
    }
    &__checkbox{
        display: inline-block;
        position: relative;
        &__input{
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 0.25em;
            position: relative;
            color: $primary;
            overflow: hidden;
            cursor: pointer;
            border: 1px solid $primary;
            &::before{
                content: "\e908";
                font-family: 'bancovi' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                font-size: 1.8em;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-45%) scale(0);
                transition: transform 0.3s;
            }
            &.is-active{
                transform: translateX(-50%) translateY(-45%) scale(1);
            }
        }
        input[type="checkbox"],
        input[type="radio"] {
            opacity: 0;
            z-index: -1;
            position: absolute;
            &:checked{
                & + .app__checkbox__input{
                    
                    background-color: $primary;
                    color: #fff;
                    &::before{
                        transform: translateX(-50%) translateY(-45%) scale(1);
                    }
                }
            }
            &:disabled{
                & + .app__checkbox__input{
                    cursor: not-allowed;
                    background-color: #fff;
                    color: #fff;
                    border: 1px solid $disabled;
                    
                }
            }
        }
    }
}

.overflow{
    &-hidden{
        overflow: hidden;
    }
}


.has{
    &-text{
        &-nowrap{
            white-space: nowrap;
        }
    }
}

.has{
    &-border{
        &-primary{
            border: 1px solid $primary;
        }
        &-left{
            border-left: 1px solid $disabled;
            &-primary{
                border-left: 1px solid $primary;
            }
        }
    }
}

.ql-container.ql-snow{
    min-height: 500px;
    height: auto;
    font-size: 1.2em;
}
.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter{
    stroke: $primary;
}
.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected{
    color: $primary;
}

.ql-toolbar.ql-snow{
    text-align: center;
}