@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import './variables';
@import '../../node_modules/bulma/bulma.sass';
@import './grid';
@import './utilis';
@import './inbox/inbox';

html,
body{
    font-family: 'Montserrat', sans-serif; 
    color: #5B5B5B;
}

.app{
    &__table{
        border-spacing: 3px;
        border-collapse: separate;
        thead{
            tr{
                th{
                    padding: 0.5em;
                    text-align: center;
                    font-size: 0.9em;
                    background-color: $primary;
                    color: #fff;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 0.5em;
                    background-color:#F2F2F2;
                }
            }
        }
        &.has-broder-radius{
            thead{
                tr{
                    &:first-child {
                        th{
                            &:first-child{
                                border-radius: 0.55em 0 0 0;
                            }
                            &:last-child{
                                border-radius: 0 0.55em 0 0;
                            }
                        }
                    }
                }
            }
            tbody{
                tr{
                    &:last-child{
                        td{
                            &:first-child{
                                border-radius: 0 0 0 0.55em;
                            }
                            &:last-child{
                                border-radius: 0 0 0.55em 0;
                            }
                        }
                    }
                }
            }
        }
        &.is-empty{
            th{
                background-color: $disabled;
                color: #fff;
            }
            td{
                border: 2px solid #fff;
                background-color:#F2F2F2;
            }
        }
    }
    &__section{
        height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        &__header{
            padding: 0.75rem 1rem;
            &__title{
                font-size: 1.2em;
                .icon{
                    margin-right: 0.25em;
                    display: inline-block;
                }
            }

        }
    }
    &__tab{
        background-color: #CCE7EA;
        color: $primary;
        &__item{
            background-color: #CCE7EA;
            transition: background-color 0.3s;
            cursor: pointer;
            border-left: 1px solid #fff;
            .icon{
                display: inline-block;
                font-size: 1.5em;
                margin-right: 0.25em;
                vertical-align: top;
            }
            &:hover{
                background-color: rgba($primary, 0.3);
            }
            &.is-active{
                background-color: $primary;
                color: #ffffff;
                box-shadow: inset 0 -4px $warning;
            }

            &:first-child{
                border-left: 0;
            }
            
        }
    }
    &__controls{
        $space: 70px;
        &__bottom{
            background-color: #fff;
            height: $space;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 50;
            & + .app__controls__sibling{
               padding-bottom: $space;
            }
        }
    }
    &__step{
        &.is-current{
            background-color: $primary-lo;
            color: $primary;
            .app__step{
                &__title{
                    color: $primary;
                }
            }
        }
        &.is-prev{
            color: $disabled;
            background-color: hsl(0, 0%, 96%);
            .app__step{
                &__title{
                    color: $disabled;
                }
            }
        }
        &.is-next{
            color: $disabled;
            .app__step{
                &__title{
                    color: $disabled;
                }
            }
        }
        &__title{
            font-size: 1.2em;
            font-weight: 700;
            &.is-primary{
                color: $primary;
                .app__step__number{
                    background-color: #fff;
                }
            }
        }
        &__number{
            border: 1px solid;
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            text-align: center;
            border-radius: 50%;
            vertical-align: top;
            margin-right: 0.5em;
            background-color: #fff;
        }
    }
}
select{
    &.app{
        &__form{
            &__control{
                &:focus{
                    border-radius: 0.55em 0.55em 0 0;
                }
            }
        }
    }
}
.app{
    &__form{
        &__control{
            background-color: $primary-lo;
            color: $primary;
            padding: 0.5em 1em;
            border: 1px solid $primary;
            border-radius: 0.55em;
            outline: none !important;
            font-size: 1.2em;
           
            &.is-lite{
                border: 0 none;
                background-color: #fff;
            }
            &.has{
                &-border{
                    &-primary{
                        border: 1px solid $primary;
                    }
                }
            }
            &:disabled{
                border: 1px solid $disabled;
                color: $disabled;
                background-color: #fff;
            }
        }
    }
    &__btn{
        display: inline-block;
        text-decoration: none !important;
        color: $primary;
        box-shadow: inset 0 -3px $primary;
        border-radius: 0.55em;
        border: 1px solid $primary;
        padding: 0.5em 1em;
        font-size: 1.2em;
        background: #fff;
        font-weight: 600;
        outline: none;
        transform: scale(1);
        cursor: pointer;
        transform-origin: center bottom;
        &:disabled{
            cursor: not-allowed;
            background-color: #fff;
            color: $disabled;
            box-shadow: none;
            border: 1px solid $disabled;
        }
        &:active{
            box-shadow: inset 0 -1px $primary;
            transform: scale(0.95);

        }
        &.has{
            &-icon{
                &-big{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon{
                        font-size: 1.8em;
                        margin: 0 0.25em;
                    }
                }
            }
        }
        &.is{
            &-primary{
                background-color: $primary;
                color: #fff;
                box-shadow: inset 0 -3px darken($primary, $amount: 10);
                &:active{
                    box-shadow: inset 0 -1px darken($primary, $amount: 10);
                }
            }
            &-disabled{
                cursor: not-allowed;
                background-color: #fff;
                color: $disabled;
                box-shadow: none;
                border: 1px solid $disabled;
            }
            &-small{
                padding: 0.25em 0.5em;
                font-size: 0.9em;
            }
        }
    }
    &__checkbox{
        display: inline-block;
        &__input{
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 0.25em;
            position: relative;
            color: $primary;
            overflow: hidden;
            cursor: pointer;
            border: 1px solid $primary;
            &::before{
                content: "\e908";
                font-family: 'bancovi' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                font-size: 1.8em;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-45%) scale(0);
                transition: transform 0.3s;
            }
            &.is-active{
                transform: translateX(-50%) translateY(-45%) scale(1);
            }
        }
        input[type="checkbox"],
        input[type="radio"] {
            display: none;
            &:checked{
                & + .app__checkbox__input{
                    
                    background-color: $primary;
                    color: #fff;
                    &::before{
                        transform: translateX(-50%) translateY(-45%) scale(1);
                    }
                }
            }
            &:disabled{
                & + .app__checkbox__input{
                    cursor: not-allowed;
                    background-color: #fff;
                    color: #fff;
                    border: 1px solid $disabled;
                    
                }
            }
        }
    }
}

.overflow{
    &-hidden{
        overflow: hidden;
    }
}

