<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mentenimento General Agencias
        link(rel="stylesheet", href="/css/bancoviIcons.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        include mixin/button.pug
        .app__section.container-fluid.overflow-hidden
            div
                - var title = "Mantenimiento"
                - var icon = "icon-tools"
                include includes/sectionHeader.pug
                // START_TABS
                ul.app__tab.d-flex.position-ralative.index-100
                    li.position-relative.app__tab__item.has-text-centered.col-4.py-3.px-2.is-size-6.has-text-weight-bold.is-active
                        span.icon.icon-boxtools
                        span General
                        .app__tab__menu
                            button.app__btn.has-text-white.is-transparent
                                span.icon.icon-menu-small.icon-when-close
                                span.icon.icon-close.icon-when-open
                        ul.app__dropdown__content.w-100.index-100.mh-p-500
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Parámetros Generales
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Agencias
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Productos
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Créditos
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Chequera
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Frecuencia de pagos
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Imágenes de token
                            
                    li.app__tab__item.has-text-centered.col-4.py-3.px-2.is-size-6.has-text-weight-bold
                        span.icon.icon-screen
                        | B@ncovinet
                    li.app__tab__item.has-text-centered.col-4.py-3.px-2.is-size-6.has-text-weight-bold
                        span.icon.icon-cellphone
                        | App Móvil
                // END_TABS
            section.overflow-hidden.pt-1
                .h-100.overflow-auto.px-3
                    div.py-3
                        h2.is-size-5.has-text-centered.has-text-weight-bold.is-uppercase EDITAR Agencia
                    .app__jumbotron.mb-3
                        .app__jumbotron__header
                            h3.app__jumbotron__header__title.has-text-centered.has-text-weight-bold Info General
                        .app__jumbotron__body
                            .d-flex.flex-wrap
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Código de la Agencia:
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Nombre de la Agencia:
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Dirección:
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Teléfono:
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Estado de la Agencia:
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-12.p-3
                                    label
                                        span.has-text-centered.d-block URL de imagen de Agencia:
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                    .app__jumbotron.mb-3 
                        .app__jumbotron__header
                            h3.app__jumbotron__header__title.has-text-centered.has-text-weight-bold Coordenadas
                        .app__jumbotron__body
                            .d-flex.justify-content-center
                                .col-6.col-md-5.col-lg-3.col-xl-auto.p-3
                                    label
                                        span.has-text-centered.d-block Latitud de la Agencia: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-6.col-md-5.col-lg-3.col-xl-auto.p-3
                                    label
                                        span.has-text-centered.d-block Altitud de la Agencia: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                            .d-flex.justify-content-center
                                .col-12.col-md-9.col-lg-8.p-3
                                    .w-100.h-p-500.has-background-white.has-border-primary.rounded
                    .app__jumbotron 
                        .app__jumbotron__header
                            h3.app__jumbotron__header__title.has-text-centered.has-text-weight-bold Horarios
                        .app__jumbotron__body
                            .d-flex.justify-content-center.py-3
                                .col-6
                                    h4.has-text-centered.is-size-6.has-text-weight-bold Apertura
                                .col-6
                                    h4.has-text-centered.is-size-6.has-text-weight-bold Cierre
                            .d-flex.justify-content-center
                                .col-6.pt-3.px-3
                                    .pt-0
                                        each val, index in ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
                                            .d-flex.mx-n2.py-1.align-items-center.justify-content-center
                                                .col-2.px-2
                                                    p.has-text-right.is-size-6.has-text-weight-bold= val + ':'
                                                .col-auto.px-2
                                                    .d-flex.align-items-center
                                                        .col-auto.px-2
                                                            label.d-block
                                                                span Hora
                                                                input.app__form__control.is-lite.has-border-primary(type="number", min="0", max="12", value="00").w-p-70
                                                        .col-auto.px-2
                                                            label.d-block
                                                                span Minutos
                                                                input.app__form__control.is-lite.has-border-primary(type="number", min="0", max="60", value="00").w-p-70
                                                        .col-auto.px-2.h-p-20
                                                            label.app__checkbox.h-p-20.d-flex.align-items-center
                                                                span.mr-2 N/A
                                                                input(type="checkbox")
                                                                span.app__checkbox__input     
                                                        .col-auto.px-2.h-p-20
                                                            div.app__switch
                                                                input(type="radio", name="tipoHorario-" + index, id="am-"+index, value="am", checked="checked", disabled)
                                                                input(type="radio", name="tipoHorario-" + index, id="pm-"+index, value="pm", disabled)
                                                                label.app__switch__btn(for="am-"+index) 
                                                                    span.app__switch__btn__text AM
                                                                label.app__switch__btn(for="pm-"+index)
                                                                    span.app__switch__btn__text PM
                                                                span.app__switch__indicator
                                .col-6.pt-3.px-3.has-border-left-primary
                                    .pt-3
                                        each val, index in ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
                                            .d-flex.mx-n2.py-1.align-items-center.justify-content-center
                                                .col-2.px-2
                                                    p.has-text-right.is-size-6.has-text-weight-bold= val + ':'
                                                .col-auto.px-2
                                                    .d-flex.align-items-center
                                                        .col-auto.px-2
                                                            label.d-block
                                                                span Hora
                                                                input.app__form__control.is-lite.has-border-primary(type="number", min="0", max="12", value="00").w-p-70
                                                        .col-auto.px-2
                                                            label.d-block
                                                                span Minutos
                                                                input.app__form__control.is-lite.has-border-primary(type="number", min="0", max="60", value="00").w-p-70
                                                        .col-auto.px-2.h-p-20
                                                            label.app__checkbox.h-p-20.d-flex.align-items-center
                                                                span.mr-2 N/A
                                                                input(type="checkbox")
                                                                span.app__checkbox__input     
                                                        .col-auto.px-2.h-p-20
                                                            div.app__switch
                                                                input(type="radio", name="tipoHorario-c-" + index, id="am-c-"+index, value="am", checked="checked")
                                                                input(type="radio", name="tipoHorario-c-" + index, id="pm-c-"+index, value="pm")
                                                                label.app__switch__btn(for="am-c-"+index) 
                                                                    span.app__switch__btn__text AM
                                                                label.app__switch__btn(for="pm-c-"+index)
                                                                    span.app__switch__btn__text PM
                                                                span.app__switch__indicator
                    .py-3.d-flex.justify-content-center 
                        +button("Cancelar", "", "is-primary mx-3")
                        +button("Guardar", "", "mx-3")

                            