<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mentenimento General Agencias
        link(rel="stylesheet", href="/css/bancoviIcons.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        include mixin/button.pug
        .app__section.container-fluid.overflow-hidden
            div
                - var title = "Mantenimiento"
                - var icon = "icon-tools"
                include includes/sectionHeader.pug
                // START_TABS
                ul.app__tab.d-flex.position-ralative.index-100
                    li.position-relative.app__tab__item.has-text-centered.col-4.py-3.px-2.is-size-6.has-text-weight-bold.is-active
                        span.icon.icon-boxtools
                        span General
                        .app__tab__menu
                            button.app__btn.has-text-white.is-transparent
                                span.icon.icon-menu-small.icon-when-close
                                span.icon.icon-close.icon-when-open
                        ul.app__dropdown__content.w-100.index-100.mh-p-500
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Parámetros Generales
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Agencias
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Productos
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Créditos
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Chequera
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Frecuencia de pagos
                            li.app__dropdown__content__item
                                a.app__dropdown__content__link.px-5(href="#") Imágenes de token
                            
                    li.app__tab__item.has-text-centered.col-4.py-3.px-2.is-size-6.has-text-weight-bold
                        span.icon.icon-screen
                        | B@ncovinet
                    li.app__tab__item.has-text-centered.col-4.py-3.px-2.is-size-6.has-text-weight-bold
                        span.icon.icon-cellphone
                        | App Móvil
                // END_TABS
            section.overflow-hidden.pt-1
                .h-100.overflow-auto.px-3
                    div.py-3
                        h2.is-size-5.has-text-centered.has-text-weight-bold.is-uppercase EDICIÓN de categoría
                    .app__jumbotron.mb-3
                        .app__jumbotron__header
                            h3.app__jumbotron__header__title.has-text-centered.has-text-weight-bold Líneas de Crédito
                        .app__jumbotron__body
                            .d-flex.flex-wrap.justify-content-center
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Código de la categoría: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Nombre de la categoría: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Estado de la categoría:
                                        input.app__form__control.is-lite.has-border-primary.w-100
                            .has-text-centered
                                +button("Guardar", "", "is-primary")

                    .has-text-centered.mb-3
                        h2.is-size-5.has-text-centered.has-text-weight-bold.is-uppercase EDICIÓN de PRODUCTO
                    
                    .app__dropdown__special#dropdown-1
                        .has-text-centered
                            .app__dropdown__special__header.is-size-5.has-text-weight-bold(data-toggle-class="#dropdown-1/is-open") 
                                span Crédito Personal
                        .app__dropdown__special__body
                            .d-flex.flex-wrap.justify-content-center
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Orden de los datos: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Código del producto: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Nombre del producto:
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Estado del producto:
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Categoría:
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-12.p-3
                                    label
                                        span.has-text-centered.d-block Descripción:
                                        textarea.app__form__control.is-lite.has-border-primary.w-100#description1(name="", rows="7")
                                .col-12.p-3
                                    label
                                        span.has-text-centered.d-block URL de imagen 1 (pequeña):
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                        span.d-block.is-size-7.has-text-centered Recuerde que esta imagen debe tener un aspecto de radio 7:5 y una resolución de 250x157px en formato JPG
                                .col-12.p-3
                                    label
                                        span.has-text-centered.d-block URL de imagen 2 (grande):
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-12.p-3.has-text-centered
                                    +button("Guardar", "", "is-primary")
                    .app__dropdown__special#dropdown-2
                        .has-text-centered
                            .app__dropdown__special__header.is-size-5.has-text-weight-bold(data-toggle-class="#dropdown-2 , .clas2 / is-open | #id / clase") 
                                span Crédito Vivienda
                        .app__dropdown__special__body
                            .d-flex.flex-wrap.justify-content-center
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Orden de los datos: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Código del producto: 
                                        input.app__form__control.is-lite.has-border-primary.w-100 
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Nombre del producto:
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-2.p-3
                                    label
                                        span.has-text-centered.d-block Estado del producto:
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-3.p-3
                                    label
                                        span.has-text-centered.d-block Categoría:
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-12.p-3
                                    label
                                        span.has-text-centered.d-block Descripción:
                                        textarea.app__form__control.is-lite.has-border-primary.w-100#description1(name="", rows="7")
                                .col-12.p-3
                                    label
                                        span.has-text-centered.d-block URL de imagen 1 (pequeña):
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                        span.d-block.is-size-7.has-text-centered Recuerde que esta imagen debe tener un aspecto de radio 7:5 y una resolución de 250x157px en formato JPG
                                .col-12.p-3
                                    label
                                        span.has-text-centered.d-block URL de imagen 2 (grande):
                                        input.app__form__control.is-lite.has-border-primary.w-100
                                .col-12.p-3.has-text-centered
                                    +button("Guardar", "", "is-primary")
        script.


            let $toggleClass = document.querySelectorAll("[data-toggle-class]")
            let $addClass = document.querySelectorAll("[data-add-class]")
            let $removeClass = document.querySelectorAll("[data-add-class]")

            assingDataEventsClass($toggleClass, 'click', 'toggle')
            assingDataEventsClass($addClass, 'click', 'add')
            assingDataEventsClass($removeClass, 'click', 'remove')

            function assingDataEventsClass($elements, type, action) {
                $elements.forEach($item => {
                    $item.addEventListener(type, () => {
                        let data = $item.dataset.toggleClass.replace(/\s/g,'').split('|')
                        data.forEach(group => {
                            let data = group.split('/')
                            let elements = data[0].split(',')
                            let classList = data[1].split(',')
                            if(elements.length && classList.length) {
                                elements.forEach(el => {
                                    let $el = document.querySelector(el)
                                    if($el) {
                                        classList.forEach(classItem => {
                                            $el.classList[action](classItem)
                                        })
                                    }
                                })
                            }
                        })
                    })
                })
            }
