div.app__section__header
            h6.section__header__title.has-text-centered.has-text-primary.is-uppercase.has-text-weight-bold
                span(class="icon "+ icon)
                | #{title}